<%=
  form_with model: [:admin, project, container_block, content_block, content_block.image_block],
  class: "flex flex-col gap-4",
  multipart: true do |form|
%>
  <div class="flex gap-3">
    <div class="w-full">
      <%= form.label :title, "#{t("title")} FR" %>
      <%= form.text_field :title, placeholder: "#{t("title")} FR (#{t("optional")})", class: "w-full border p-3 text-lg font-bold" %>
    </div>
    <div class="w-full">
      <%= form.label :title_en, "#{t("title")} EN" %>
      <%= form.text_field :title_en, placeholder: "#{t("title")} EN (#{t("optional")})", class: "w-full border p-3 text-lg font-bold" %>
    </div>
  </div>

  <div class="flex gap-3">
    <div class="w-full">
      <%= form.label :subtitle, "#{t("subtitle")} FR" %>
      <%= form.text_field :subtitle, placeholder: "#{t("subtitle")} FR (#{t("optional")})", class: "w-full border p-3" %>
    </div>
    <div class="w-full">
      <%= form.label :subtitle_en, "#{t("subtitle")} EN" %>
      <%= form.text_field :subtitle_en, placeholder: "#{t("subtitle")} EN (#{t("optional")})", class: "w-full border p-3" %>
    </div>
  </div>

  <div class="border p-3 relative">
    <%=
      render "admin/shared/image_upload",
      image: content_block.image_block.image,
      input_id: dom_id(container_block, content_block.id)
    %>
  </div>

  <div class="flex gap-3">
    <div class="w-full">
      <%= form.label :caption, "#{t("caption")} FR" %>
      <%= form.text_field :caption, placeholder: "#{t("caption")} FR (#{t("optional")})", class: "w-full border p-3 text-sm text-gray-500" %>
    </div>
    <div class="w-full">
      <%= form.label :caption_en, "#{t("caption")} EN" %>
      <%= form.text_field :caption_en, placeholder: "#{t("caption")} EN (#{t("optional")})", class: "w-full border p-3 text-sm text-gray-500"  %>
    </div>
  </div>
  <%= form.submit t("save"), class: "admin-btn-primary cursor-pointer" %>
<% end %>