<div class="flex gap-4 items-center justify-between bg-white p-4 border">
  <div>
    <%= inline_svg partner_category.icon_path, class: "w-10 h-10 shrink-0" %>
  </div>
  <div class="flex flex-col gap-4 grow">
    <h2 class="text-xl font-bold"><%= partner_category.name %></h2>
    <% if partner_category.description.present? %>
      <p class="text-gray-500"><%= partner_category.description %></p>
    <% end %>
  </div>
  <div class="flex gap-4">
    <%= render "admin/shared/change_position_buttons", record: partner_category %>
    <%= link_to t("edit"), edit_admin_partner_category_path(partner_category), class: "admin-btn-secondary" %>
  </div>
</div>