<%= form_with model: [:admin, team_member], class: "flex flex-col gap-4", multipart: true do |form| %>
  <%=
    form.text_field :name,
    placeholder: "#{t("name")}*",
    required: true,
    class: "w-full border p-3 font-bold text-xl"
  %>
  <div class="flex items-center gap-4">
    <div class="w-full">
      <%= form.label :description, "#{t("description")} FR" %>
      <%=
        form.textarea :description,
        placeholder: "#{t("description")} FR",
        class: "w-full border p-3 mt-2"
      %>
    </div>
    <div class="w-full">
      <%= form.label :description_en, "#{t("description")} EN" %>
      <%=
        form.textarea :description_en,
        placeholder: "#{t("description")} EN",
        class: "w-full border p-3 mt-2"
      %>
    </div>
  </div>
  <%=
    form.text_field :linked_in_url,
    placeholder: t("linked_in_url"),
    class: "w-full border p-3"
  %>
  <%=
    render "admin/shared/image_upload",
    image: team_member.photo,
    input_id: dom_id(team_member)
  %>
  <%= form.submit t("save"), class: "admin-btn-primary cursor-pointer" %>
<% end %>