<header class="flex justify-between items-center mb-6">
  <h1 class="text-3xl font-bold mb-4"><%= t("team_members") %></h1>
  <%= link_to t("new_team_member"), new_admin_team_member_path, class: "admin-btn-primary" %>
</header>
<div class="flex flex-col gap-4">
  <% @team_members.order(:created_at).each do |team_member| %>
    <div class="flex gap-4 items-center justify-between bg-white p-4 border">
      <div class="flex gap-4 items-center">
        <% if team_member.photo.attached? %>
          <%= image_tag team_member.photo.variant(:default), class: "object-cover shrink-0" %>
        <% end %>
        <div>
          <h2 class="text-xl font-bold"><%= team_member.name %></h2>
          <p class="text-gray-500"><%= team_member.description %></p>
        </div>
      </div>
      <div class="flex flex-col gap-4">
        <%= link_to t("edit"), edit_admin_team_member_path(team_member), class: "admin-btn-secondary" %>
        <%= button_to t("delete"), admin_team_member_path(team_member), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "admin-btn-delete" %>
      </div>
    </div>
  <% end %>
</div>