<header class="flex justify-between items-center mb-6">
  <h1 class="text-3xl font-bold mb-4"><%= t("partners") %></h1>
  <%= link_to t("new_partner"), new_admin_partner_path, class: "admin-btn-primary" %>
</header>
<div class="flex flex-col gap-16">
  <% @partner_categories.each do |partner_category| %>
    <section class="flex flex-col gap-4">
      <h2 class="flex items-center gap-3 font-bold text-2xl grow">
        <%= inline_svg_tag(partner_category.icon_path, class: "shrink-0 w-8 h-8") %>
        <span><%= translates(partner_category, :name) %></span>
      </h2>
      <div class="flex flex-col gap-4" id="<%= dom_id(partner_category) %>">
        <%= render partner_category.partners %>
      </div>
    </section>
  <% end %>
</div>