<div id=<%= dom_id(content_block) %> class="flex justify-center items-center border rounded p-3 relative">
  <p><%= content_block.position %> - </p>
  <div class="<%= content_block.class_list.join(" ") %>">
    <% if content_block.text_block? %>
      <%= content_block.text_block.text %>
    <% elsif content_block.image_block? %>
      <div class="flex flex-col gap-1">
        <p class="text-lg font-bold"><%= content_block.image_block.title %></p>
        <p><%= content_block.image_block.subtitle %></p>
        <%= image_tag content_block.image_block.image, class: "w-full" %>
        <p class="text-sm text-gray-500"><%= content_block.image_block.caption %></p>
      </div>
    <% end %>
  </div>

  <div class="flex justify-center items-center gap-3 absolute inset-0 opacity-0 transition-opacity bg-white/80 cursor-pointer hover:opacity-100">
    <div data-controller="modal">
      <%=
        button_tag type: :button,
        class: "admin-btn-secondary bg-white text-sm px-3 py-1",
        data: { action: "click->modal#showModal" } do
      %>
        <span><%= t("edit") %></span>
      <% end %>

      <dialog class="backdrop:bg-black/60 p-4 rounded max-w-[600px]" data-modal-target="dialog">
        <div class="flex flex-col gap-4">
          <div class="flex items-center">
            <h3 class="grow font-bold"><%= t("edit_text") %></h3>
            <button data-action="click->modal#closeModal">
              <%= inline_svg_tag("icons/x-mark.svg", class: "w-6 text-black hover:opacity-70") %>
            </button>
          </div>
          <% if content_block.text_block? %>
            <%=
              render "admin/text_blocks/form",
              content_block: content_block,
              container_block: container_block,
              project: project
            %>
          <% elsif content_block.image_block? %>
            <%=
              render "admin/image_blocks/form",
              content_block: content_block,
              container_block: container_block,
              project: project
            %>
          <% end %>
        </div>
      </dialog>
    </div>
    <%=
      button_to t("remove"),
      admin_project_container_block_content_block_path(project, container_block, content_block),
      method: :delete,
      class: "admin-btn-delete bg-white text-sm px-3 py-1",
      form: { data: { turbo_confirm: t("are_you_sure?") } }
    %>
  </div>
</div>