<% flash.each do |flash_type, message| %>
  <div class="w-full fixed bottom-0 left-0 flex justify-center" data-controller="flash">
    <% if flash_type == "error" %>
      <div class="flex justify-center items-center gap-4 shadow-border bg-gray-500 text-white m-10 lg:w-1/2">
        <div class="grow flex justify-center items-center gap-4 p-5">
          <%= inline_svg_tag "icons/warning.svg", class: "shrink-0 w-8 h-8 fill-white hidden sm:block" %>
          <%= message %>
        </div>
        <div class="p-5 cursor-pointer hover:text-gray-300" data-action="click->flash#remove">
          <%= inline_svg_tag("icons/x-mark.svg", class: "w-8") %>
        </div>
      </div>
    <% else %>
      <div class="flex justify-center items-center gap-4 shadow-border bg-white m-10 lg:w-1/2">
        <div class="grow flex justify-center items-center gap-4 p-5">
          <%= inline_svg_tag "icons/happy-computer.svg", class: "shrink-0 w-8 h-8 fill-white hidden sm:block" %>
          <%= message %>
        </div>
        <div class="p-5 cursor-pointer hover:text-gray-800" data-action="click->flash#remove">
          <%= inline_svg_tag("icons/x-mark.svg", class: "w-8") %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>