<div class="flex flex-col gap-28">
  <section class="mt-3">
    <%= image_tag "banniere.png", class: "h-52 w-full object-cover" %>
    <div class="flex justify-center">
      <p class="w-11/12 -mt-16 p-7 border border-2 border-black border-dashed bg-white sm:w-2/3 lg:w-1/2">
        <span class="text-4xl font-bold">AMERMA</span> est une association pour l'étude, la promotion, l'accompagnement, l'expérimentation et la mise en place de <strong>nouvelles approches industrielles</strong>, locales, raisonnées, accessibles et à <strong>moindre impact écologique.</strong>
      </p>
    </div>
  </section>

  <section class="flex flex-col items-center gap-4 sm:flex-row">
    <div class="sm:w-1/2">
      <p>Dans cette optique, AMERMA défend le concept de techno-discernement associé à la démarche low-tech, utilisée à des échelles industrielles, notamment à travers son application aux moyens de production des biens et services essentiels au fonctionnement de notre société.</p>
      <%= link_to "En savoir plus", "#", class: "btn-primary inline-block mt-2" %>
    </div>
    <div class="sm:w-1/2 flex justify-center">
      <%= image_tag "home-image1.png", class: "w-56 h-56 object-cover" %>
    </div>
  </section>

  <section>
    <div class="text-center mb-6">
      <p>L’association développe une offre s’articulant autour de</p>
      <p class="text-xl font-bold">TROIS SERVICES:</p>
    </div>
    <div class="grid grid-cols-1 gap-y-10 gap-x-14 lg:grid-cols-3">
      <div class="flex flex-col gap-3 border border-2 border-black p-6 shadow-flat">
        <div class="flex items-center gap-2">
          <h2 class="font-bold grow">Etudes</h2>
          <%= inline_svg_tag("icons/book-pixel.svg", class: "w-10") %>
        </div>
        <p class="grow">Visant à développer les connaissances autour des nouvelles approches industrielles.</p>
        <%= link_to "Voir les projets", "#", class: "btn-old-school" %>
      </div>
      <div class="flex flex-col gap-3  border border-2 border-black p-6 shadow-flat">
        <div class="flex items-center gap-2">
          <h2 class="font-bold">Accompagnement de la structuration de filières industrielles</h2>
          <%= inline_svg_tag("icons/computer-pixel.svg", class: "w-10 shrink-0") %>
        </div>
        <p class="grow">Afin de produire localement et de façon durable des biens et services essentiels au territoire.</p>
        <%= link_to "Voir les projets", "#", class: "btn-old-school" %>
      </div>
      <div class="flex flex-col gap-3  border border-2 border-black p-6 shadow-flat">
        <div class="flex items-center gap-2">
          <h2 class="font-bold grow">Actions ponctuelles</h2>
          <%= inline_svg_tag("icons/heart-pixel.svg", class: "w-10") %>
        </div>
        <p class="grow">Nous sommes une référence sur les sujets de l’industrie low-tech en PACA.</p>
        <%= link_to "Voir les projets", "#", class: "btn-old-school" %>
      </div>
    </div>
  </section>

  <section>
    <h2 class="underline mb-3">Nos derniers projets:</h2>
    <div class="flex flex-col gap-6">
      <% @projects.each do |project| %>
        <%= link_to project_path(project), class: "flex flex-col-reverse items-start justify-between gap-3 border border-black p-4 cursor-pointer hover:shadow-flat hover:-translate-y-1 hover:-translate-x-1 sm:flex-row sm:items-center" do %>
          <div>
            <h3 class="font-bold"><%= project.name %></h3>
            <ul class="leading-7">
              <li><%= project.description.truncate(100) %></li>
              <li><%= t("timeline") %>: <%= project.start_date.strftime("%d %b %Y") %> / <%= project.end_date.strftime("%d %b %Y") %></li>
              <li><%= project_status(project.status) %></li>
            </ul>
          </div>
          <%= image_tag project.cover_photo.variant(:thumb), class: "w-24 h-24 object-cover grayscale" %>
        <% end %>
      <% end %>
    </div>
  </section>
</div>