<section class="bg-white p-4 border">
  <%= form_with model: [:admin, project], class: "flex flex-col gap-4", data: { controller: "project-form "} do |form| %>
    <div>
      <%=
        form.collection_select :project_category_id,
        project_categories,
        :id,
        :name,
        { include_blank: t("choose_category") },
        { class: "w-auto px-4 py-3 bg-white border" }
      %>
    </div>
    <div class="flex items-center gap-10">
      <div class="flex gap-4">
        <div>
          <%= form.label :visible_true, class: "flex flex-col items-center text-gray-400 px-4 py-1 border cursor-pointer has-[:checked]:bg-gray-100 has-[:checked]:text-black" do %>
            <%= form.radio_button :visible, true, class: "hidden" %>
            <%= t("visible") %>
            <%= inline_svg_tag("icons/eye-solid.svg", class: "w-4") %>
          <% end %>
        </div>
        <div>
          <%= form.label :visible_false, class: "flex flex-col items-center text-gray-400 px-4 py-1 border cursor-pointer has-[:checked]:bg-gray-100 has-[:checked]:text-black" do %>
            <%= form.radio_button :visible, false, class: "hidden" %>
            <%= t("hidden") %>
            <%= inline_svg_tag("icons/eye-slash.svg", class: "w-4") %>
          <% end %>
        </div>
      </div>
      <div class="flex gap-4">
        <div>
          <%= form.label :featured_true, class: "flex flex-col items-center text-gray-400 px-4 py-1 border cursor-pointer has-[:checked]:bg-gray-100 has-[:checked]:text-black" do %>
            <%= form.radio_button :featured, true, class: "hidden" %>
            <%= t("featured") %>
            <%= inline_svg_tag("icons/star-filled.svg", class: "w-4") %>
          <% end %>
        </div>
        <div>
          <%= form.label :featured_false, class: "flex flex-col items-center text-gray-400 px-4 py-1 border cursor-pointer has-[:checked]:bg-gray-100 has-[:checked]:text-black" do %>
            <%= form.radio_button :featured, false, class: "hidden" %>
            <%= t("not_featured") %>
            <%= inline_svg_tag("icons/star.svg", class: "w-4") %>
          <% end %>
        </div>
      </div>
    </div>
    <div
      class="border p-3 relative group"
      data-project-form-target="coverPhotoContainer"
      data-has-cover-photo="<%= project.cover_photo.attached? %>"
    >
      <%=
        form.file_field :cover_photo,
        class: "hidden",
        data: {
          id: "cover-photo",
          "project-form-target": "imageInput",
          action: "change->project-form#imageUploaded"
        }
      %>
      <%= form.hidden_field :remove_cover_photo, disabled: true, data: { "project-form-target": "removeCoverPhotoInput" } %>
      <%=
        image_tag project.cover_photo.variant(:cover).presence || "",
        class: "w-full h-60 object-cover mb-3 group-[[data-has-cover-photo='false']]:hidden",
        data: {
          "project-form-target": "imagePreview",
          id: "cover-photo"
        }
      %>
      <div class="flex gap-3 justify-end right-5">
        <%=
          form.label :cover_photo,
          class: "admin-btn-secondary text-sm px-2 py-1" do
        %>
          <span class="group-[[data-has-cover-photo='false']]:hidden"><%= t("change_cover_photo") %></span>
          <span class="group-[[data-has-cover-photo='true']]:hidden"><%= t("add_cover_photo") %></span>
        <% end %>
        <%=
          button_tag t("delete"),
          class: "admin-btn-delete text-sm px-3 py-1 group-[[data-has-cover-photo='false']]:hidden",
          type: :button,
          data: {
            id: "cover-photo",
            action: "click->project-form#removeImage"
          }
        %>
      </div>
    </div>
    <%=
      form.text_field :name,
      placeholder: t("name"),
      class: "w-full border p-3 font-bold text-xl"
    %>
    <div class="flex gap-4">
      <div>
        <%= form.label :status_completed, class: "flex flex-col items-center text-gray-400 px-4 py-1 border cursor-pointer has-[:checked]:bg-gray-100 has-[:checked]:text-black" do %>
          <%= form.radio_button :status, "completed", class: "hidden" %>
          <%= t("completed") %>
        <% end %>
      </div>
      <div>
        <%= form.label :status_in_progress, class: "flex flex-col items-center text-gray-400 px-4 py-1 border cursor-pointer has-[:checked]:bg-gray-100 has-[:checked]:text-black" do %>
          <%= form.radio_button :status, "in_progress", class: "hidden" %>
          <%= t("in_progress") %>
        <% end %>
      </div>
      <div>
        <%= form.label :status_planned, class: "flex flex-col items-center text-gray-400 px-4 py-1 border cursor-pointer has-[:checked]:bg-gray-100 has-[:checked]:text-black" do %>
          <%= form.radio_button :status, "planned", class: "hidden" %>
          <%= t("planned") %>
        <% end %>
      </div>
    </div>
    <div class="flex gap-6">
      <div>
        <%= form.label :start_date, t("start_date"), class: "text-sm" %>
        <%=
          form.date_field :start_date,
          class: "border p-3"
        %>
      </div>
      <div>
        <%= form.label :end_date, t("end_date"), class: "text-sm" %>
        <%=
          form.date_field :end_date,
          class: "border p-3"
        %>
      </div>
    </div>
    <%=
      form.text_field :owner,
      placeholder: t("owner"),
      class: "border p-3"
    %>
    <%=
      form.textarea :description,
      placeholder: t("description"),
      class: "w-full border p-3"
    %>

    <%= form.submit t("save"), class: "admin-btn-primary cursor-pointer" %>
  <% end %>
</section>