<section class="flex flex-col gap-4 bg-white p-4 border rounded">
  <div class="flex items-center gap-10 pb-4 border-b">
    <span class="px-4 py-3 bg-white border rounded"><%= project.project_category.name %></span>
    <div class="flex flex-col items-center px-4 py-1 rounded border bg-slate-100 text-slate-800">
      <% if project.visible? %>
        <%= t("visible") %>
        <%= inline_svg_tag("icons/eye-solid.svg", class: "w-4") %>
      <% else %>
        <%= t("hidden") %>
        <%= inline_svg_tag("icons/eye-slash.svg", class: "w-4") %>
      <% end %>
    </div>
    <div class="flex flex-col items-center px-4 py-1 rounded border bg-slate-100 text-slate-800">
      <% if project.featured? %>
        <%= t("featured") %>
        <%= inline_svg_tag("icons/star-filled.svg", class: "w-4") %>
      <% else %>
        <%= t("not_featured") %>
        <%= inline_svg_tag("icons/star.svg", class: "w-4") %>
      <% end %>
    </div>
  </div>

  <% if project.cover_photo.attached? %>
    <%=
      image_tag project.cover_photo,
      class: "w-full h-60 object-cover mb-3"
    %>
  <% end %>
  <p class="font-bold text-xl"><%= project.name %></p>
  <p><%= project.description %></p>
  <div>
    <%= project_status(project.status) %>
  </div>

  <div class="flex justify-end">
    <%= link_to t("edit"), edit_admin_project_path(project), class: "admin-btn-secondary text-sm px-3 py-1" %>
  </div>
</section>