<header class="flex justify-between items-center mb-6">
  <h1 class="text-3xl font-bold mb-4"><%= t("projects") %></h1>
  <%= link_to t("new_project"), new_admin_project_path, class: "admin-btn-primary" %>
</header>
<div class="flex flex-col gap-16">
  <% @project_categories.each do |project_category| %>
    <section class="flex flex-col gap-4">
      <h2 class="flex items-center gap-3 font-bold text-2xl grow">
        <%= inline_svg_tag(project_category.icon_path, class: "shrink-0 w-8 h-8") %>
        <span><%= translates(project_category, :name) %></span>
      </h2>
      <div class="flex flex-col gap-4" id="<%= dom_id(project_category) %>">
        <% project_category.projects.each do |project| %>
          <%= render "admin/projects/card", project: project %>
        <% end %>
      </div>
    </section>
  <% end %>
</div>