<div class="flex flex-col gap-10">
  <section class="mt-3">
    <% if @page&.banner&.attached? %>
      <%= image_tag @page.banner.variant(:default), class: "h-52 w-full object-cover" %>
    <% end %>
  </section>

  <section>
    <div class="flex justify-center">
      <div class="w-11/12 px-3 py-6 text-center leading-8 text-xl bg-white border-2 border-black border-dashed sm:w-3/4 sm:px-6">
        <%= render_translated_action_text(@home_text_1, :text) %>
      </div>
    </div>
  </section>

  <section class="flex flex-col items-center gap-2">
    <div class="mb-4 text-black/70 text-center"><%= render_translated_action_text(@home_text_2, :text) %></div>
    <%= link_to t("know_more"), about_path, class: "btn-primary inline-block" %>
  </section>

  <section>
    <div class="mb-6">
      <p class="text-3xl font-bold"><%= t("our_missions") %></p>
    </div>
    <div class="grid grid-cols-1 gap-y-10 gap-x-14 lg:grid-cols-3">
      <% @project_categories.each do |project_category| %>
        <%= link_to projects_path(anchor: dom_id(project_category)), class: "flex flex-col gap-3 border border-black p-6 transition-all -translate-y-1 -translate-x-1 shadow-flat hover:translate-y-0 hover:translate-x-0 hover:shadow-none" do %>
          <div class="flex gap-2">
            <h2 class="text-xl font-bold grow"><%= translates(project_category, :name) %></h2>
            <%= inline_svg_tag(project_category.icon_path, class: "w-8 h-8 shrink-0") %>
          </div>
          <p class="grow"><%= translates(project_category, :summary) %></p>
          <%#= link_to t("view_projects"), projects_path(anchor: dom_id(project_category)), class: "btn-old-school" %>
        <% end %>
      <% end %>
    </div>
  </section>

  <section class="bg-gray-100 p-4 py-6">
    <h2 class="text-3xl font-bold mb-6"><%= t("our_last_projects") %></h2>
    <div class="flex flex-col gap-6">
      <% @projects.each do |project| %>
        <%= render "projects/card", project: project %>
      <% end %>
    </div>
  </section>
</div>