<header class="my-10 border-b border-black">
  <h1 class="text-5xl font-bold"><%= t("projects") %></h1>
</header>
<div class="flex flex-col gap-20">
  <% @project_categories.each do |project_category| %>
    <section id="<%= dom_id(project_category) %>" class="bg-gray-100 p-4 py-6 scroll-mt-[80px] flex flex-col gap-4">
      <div class="flex gap-5">
        <h2 class="font-bold text-2xl grow"><%= translates(project_category, :name) %></h2>
        <%= inline_svg_tag(project_category.icon_path, class: "shrink-0 w-8 h-8") %>
      </div>
      <div class="group" data-controller="show-more" data-show-more="false">
        <p>
          <%= translates(project_category, :description) %>
          <% if project_category.long_description.present? %>
            <%=
              button_tag t("know_more"),
              type: :button,
              data: { action: "click->show-more#showMore" },
              class: "btn-old-school inline-block text-sm group-[[data-show-more='true']]:hidden"
            %>
          <% end %>
        </p>
        <div class="grid transition-[grid-template-rows] duration-300 group-[[data-show-more='false']]:grid-rows-[0fr] group-[[data-show-more='true']]:grid-rows-[1fr]">
          <div class="overflow-hidden">
            <div class="bg-white border-2 border-black border-dashed flex-col gap-2 p-4 mt-4">
              <%= render_translated_action_text(project_category, :long_description) %>
              <p class="text-right">
                <%=
                  button_tag t("close"),
                  type: :button,
                  data: { action: "click->show-more#showLess" },
                  class: "btn-old-school text-sm inline-block mt-2"
                %>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 gap-4">
        <% project_category.projects.each do |project| %>
          <%= render "card", project: project %>
        <% end %>
      </div>
    </section>
  <% end %>
</div>