<header class="my-10 border-b border-black">
  <h1 class="text-5xl font-bold"><%= t("projects") %></h1>
</header>
<div class="flex flex-col gap-20">
  <% @project_categories.each do |project_category| %>
    <section id="<%= dom_id(project_category) %>" class="bg-gray-100 p-4 py-6 scroll-mt-[80px]">
      <div class="flex flex-col sm:flex-row sm:items-center sm:gap-5">
        <%= inline_svg_tag(project_category.icon_path, class: "shrink-0 w-10") %>
        <div>
          <h2 class="font-bold text-2xl"><%= translates(project_category, :name) %></h2>
          <p><%= translates(project_category, :description) %></p>
        </div>
      </div>

      <div class="grid grid-cols-1 gap-4 mt-6">
        <% project_category.projects.each do |project| %>
          <%= link_to project_path(project), class: "shrink-0 flex flex-col-reverse gap-3 p-4 border border-black bg-white transition-all hover:shadow-flat hover:-translate-y-1 hover:-translate-x-1 sm:flex-row sm:items-center" do %>
            <div class="grow">
              <h3 class="font-bold mb-3"><%= translates(project, :name) %></h3>
              <ul class="leading-7">
                <li><%= translates(project, :description).truncate(100) %></li>
                <li><%= l(project.start_date, format: :default) %> - <%= l(project.end_date, format: :default) %></li>
                <li><%= project_status(project.status) %></li>
              </ul>
            </div>
            <% if project.cover_photo.attached? %>
              <%= image_tag project.cover_photo.variant(:square), class: "w-24 h-24 object-cover grayscale" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </section>
  <% end %>
</div>