<div class="my-10 flex flex-col gap-4 items-center">
  <h1 class="text-bold text-3xl"><%= t("Login") %></h1>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "flex flex-col gap-4 w-full md:w-1/2" }) do |f| %>
    <%= f.email_field :email, placeholder: t("email"), class: "border-2 border-black p-4 transition-shadow focus:outline-none focus:inset-shadow-border" %>
    <%= f.password_field :password, placeholder: t("password"), class: "border-2 border-black p-4 transition-shadow focus:outline-none focus:inset-shadow-border" %>
    <%= f.submit t("login"), class: "btn-primary py-5" %>
  <% end %>

  <%#= render "devise/shared/links" %>
</div>
