<aside class="w-60 px-6 py-8 min-h-screen bg-black flex flex-col gap-10">
  <%= link_to root_path, class: "flex justify-center" do %>
    <%= image_tag "logo.png", class: "w-24" %>
  <% end %>
  <%=
    link_to root_path,
    class: "p-3 text-gray-300 border border-white border-dashed transition-colors hover:bg-gray-800 hover:text-white",
    target: :_blank do
  %>
    <div class="flex justify-between items-center">
      <span class="font-bold">Amerma</span>
      <%= inline_svg_tag("icons/outside.svg", class: "fill-white w-4 h-4 shrink-0") %>
    </div>
    <span class="text-xs"><%= root_url %></span>
  <% end %>
  <div class="flex flex-col gap-1">
    <%= sidebar_link(t("pages"), admin_pages_path) %>
    <%= sidebar_link(t("projects"), admin_projects_path) %>
    <%= sidebar_link(t("project_categories"), admin_project_categories_path) %>
    <%= sidebar_link(t("team_members"), admin_team_members_path) %>
    <%= sidebar_link(t("partners"), admin_partners_path) %>
    <%= sidebar_link(t("messages"), admin_messages_path) %>
  </div>
</aside>